<div class="footer">
  <div class="submenuWrapper">
    <div class="buyers">
      <h4>Покупателям</h4>
      <ul>
        <li><a class="footerLink" routerLink="/buyers">Как сделать заказ</a></li>
        <li><a class="footerLink" routerLink="/">Способы оплаты</a></li>
        <li><a class="footerLink" routerLink="/delivery">Доставка</a></li>
        <li><a class="footerLink" routerLink="/">Возврат товара</a></li>
        <li><a class="footerLink" routerLink="/">Возврат денежных средств</a></li>
      </ul>
    </div>

    <div class="company">
      <h4>Компания</h4>
      <ul>
        <li><a class="footerLink" routerLink="/about">О нас</a></li>
        <li><a class="footerLink" routerLink="/">Реквизиты</a></li>
        <li><a class="footerLink" routerLink="/contacts">Контакты</a></li>
        <li><a class="footerLink" routerLink="/">Вакансии</a></li>
      </ul>
    </div>

    <div class="partners">
      <h4>Партнерам</h4>
      <ul>
        <li><a class="footerLink" routerLink="/">Интернет магазин под ключ</a></li>
        <li><a class="footerLink" routerLink="/">Как начать сотрудничество</a></li>
        <li><a class="footerLink" routerLink="/">Тарифы и цены</a></li>
      </ul>
    </div>


    <div class="socialWrapper">
      <h4>Мы в соцсетях</h4>
      <div class="socialIcons">
        <div>
          <a class="footerLink" routerLink="https://instagram.com/papagrek.com_magazine">
            <img class="size" src="/assets/instagram.png" alt=""/></a>
        </div>
        <div>
          <a class="footerLink" routerLink="https://odnoklassniki.ru/papagrek">
            <img class="size" src="./assets/ok.png" alt=""/></a>
        </div>
        <div>
          <a class="footerLink" routerLink="https://pinterest.com/olivesargreek">
            <img class="size" src="/assets/pin.png" alt=""/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>2019-2021 © Papagrek - интернет-магазин аксессуаров к часам Apple Watch.</p>
    <p>Все права защищены. Самовывоз. Доставка по Саратову и Энгельсу.</p>
  </div>
</div>
