# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# dependencies
/frontend/node*
/frontend/node_modules

# IDEs and editors
*.iml


# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/frontend/typings

# System Files
.DS_Store
Thumbs.db

### backend

/backend/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/backend/nbproject/private/
/backend/build/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
