<h1 align="center" class="display-4 mb-5">{{title}}</h1>
<div class="row card-deck text-center">
  <div *ngFor="let productInfo of page?.content" class="col-lg-4 ">
    <div class="card mb-4"  >
      <img height="50%" class="card-img-top" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
      <div class="card-body">
        <h4 class="card-title ">{{productInfo.productName}}</h4>
        <div class="text-left">
          <p class="card-test"><strong>Description: </strong>{{productInfo.productDescription}}</p>
          <p class="card-text"><strong>Price: </strong>{{productInfo.productPrice | currency}}</p>
          <p class="card-text"><strong>Stock: </strong>{{productInfo.productStock}}</p>
        </div>
        <br>
        <a routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock"
           class="btn btn-primary btn-lg"
        >Get It!</a>
        <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
      </div>
    </div>
  </div>
</div>
<app-pagination  [currentPage]="page" ></app-pagination>
