<h1 align="center" class="display-4 mb-5">Подробнее о заказе</h1>
<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Фото</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Итого</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of (order$ | async)?.products">
        <th class="align-middle" scope="row">
            <a routerLink="/seller/product/{{item.productId}}/edit"><img height="100px" src="{{item.productIcon}}"
                                                                         alt="{{item.productName}}"></a>
        </th>
        <td class="align-middle"><a routerLink="/seller/product/{{item.productId}}/edit">{{item.productName}}</a></td>
        <td class="align-middle">{{item.productDescription}}</td>
        <td class="align-middle">{{item.productPrice | currency}}</td>
        <td class="align-middle">{{item.count}}</td>
        <td class="align-middle">{{(item.productPrice * item.count | currency)}}</td>
    </tr>
    </tbody>
</table>
<h5 style="display: inline" >Итого: {{(order$ | async)?.orderAmount | currency}}</h5>
