<h1 align="center" class="display-4 mb-5">Заказы</h1>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Номер заказа</th>
        <th scope="col">Имя покупателя</th>
        <th scope="col">Email покупателя</th>
        <th scope="col">Телефон покупателя</th>
        <th scope="col">Адрес доставки</th>
        <th scope="col">Итого</th>
        <th scope="col">Дата заказа</th>
        <th scope="col">Статус</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let order of page?.content">
        <th class="align-middle" scope="row">
            {{order.orderId}}
        </th>
        <td class="align-middle">{{order.buyerName}}</td>
        <td class="align-middle">{{order.buyerEmail}}</td>
        <td class="align-middle">{{order.buyerPhone}}</td>
        <td class="align-middle">{{order.buyerAddress}}</td>
        <td class="align-middle">{{order.orderAmount | currency}}</td>
        <td class="align-middle">{{order.createTime | date}}</td>
        <td class="align-middle">{{OrderStatus[order.orderStatus]}}</td>
        <td class="align-middle">
            <a *ngIf="!(currentUser.role == Role.Customer && currentUser.name == order.buyerEmail)"
               style="display:
            block" href="" routerLink="/order/{{order.orderId}}">
                Показать</a>
            <a *ngIf="order.orderStatus == 0" style="display: block" (click)="cancel(order)" routerLink="./">Отмена</a>
            <a *ngIf="currentUser.role != Role.Customer && order.orderStatus == 0"
               style="display: block"
               (click)="finish(order)"
               routerLink="./">
                Finish</a>
        </td>
    </tr>
    </tbody>
</table>

<app-pagination [currentPage]="page"></app-pagination>
