<h1 align="center" class="display-4 mb-5">Order Detail</h1>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of items$ | async">
        <th class="align-middle" scope="row">
            <a routerLink="/product/{{item.productId}}"><img height="100px" src="{{item.productIcon}}"
                                                             alt="{{item.productName}}"></a>
        </th>
        <td class="align-middle"><a routerLink="/product/{{item.productId}}">{{item.productName}}</a></td>
        <td class="align-middle">{{item.productDescription}}</td>
        <td class="align-middle">{{item.productPrice | currency}}</td>
        <td class="align-middle">{{item.count}}</td>
        <td class="align-middle">{{(item.productPrice * item.count | currency)}}</td>
    </tr>
    </tbody>
</table>
