<h1 align="center" class="display-4 mb-5">Регистрация</h1>
<div style="width:40%; margin: 25px auto" >
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label><b>Email</b></label>
      <input [(ngModel)]="user.email" type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Введите email" email required autofocus  #email="ngModel">
      <div  *ngIf="email.invalid && (email.dirty ||email.touched)" >
          <div *ngIf="email.errors.required" >
              Email обязателен.
          </div>
          <div *ngIf="email.errors.email">
              Ошибочный Email.
          </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>Имя</b></label>
      <input [(ngModel)]="user.name" type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Ваше имя" required #name="ngModel">
        <div  *ngIf="name.invalid && (name.dirty ||name.touched)">
            <div *ngIf="name.errors.required">
                Имя обязательно.
            </div>
            <div *ngIf="name.errors.minlength">
              Имя должно состоять не менее чем из 3 символов.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>Пароль</b></label>
      <input  [(ngModel)]="user.password" type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Пароль" minlength="3" required #password="ngModel">
        <div  *ngIf="password.invalid && (password.dirty ||password.touched)">
            <div *ngIf="password.errors.required">
                Пароль обязателен.
            </div>
            <div *ngIf="password.errors.minlength">
              Пароль должен состоять не менее чем из 3 символов.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>Телефон</b></label>
      <input [(ngModel)]="user.phone" type="text" class="form-control form-control-lg" id="phone" name="phone" placeholder="Телефон" required #phone="ngModel" >
        <div  *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
            <div *ngIf="phone.errors.required">
                Номер телефона обязателен.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>Адрес</b></label>
      <input [(ngModel)]="user.address" type="text" class="form-control form-control-lg" id="address" name="address" placeholder="Адрес" required #address="ngModel">
        <div  *ngIf="address.invalid && (address.dirty ||address.touched)">
            <div *ngIf="address.errors.required">
                Адрес обязателен.
            </div>
        </div>
    </div>
    <div class="form-group">
      <button type="submit" class="violet-button btn btn-lg btn-primary btn-block" [disabled]="!form.form.valid" >Зарегистроваться</button>
    </div>
  </form>
</div>

