<h1 align="center" class="display-4 mb-5">{{title}}</h1>

<!--Cart Detail Table-->
<table class="table table-striped text-center">
  <thead>
  <tr>
    <th scope="col">Photo</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Subtotal</th>
    <th scope="col">Action</th>

  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let item of items" >
    <th class="align-middle" scope="row">
      <img height="100px" src="{{item.productInfo.productIcon}}">
    </th>
    <td class="align-middle">{{item.productInfo.productName}}</td>
    <td class="align-middle">{{item.productInfo.productPrice | currency}}</td>
    <td class="align-middle">
      <a (click)="minus(item)"><i class="fa fa-minus"></i></a>
      <input min="1" id="{{item.productInfo.productId}}"
             max="{{item.productInfo.productStock}}" type="text" size="5" [(ngModel)]="item.quantity"
             name='count' (change)="change(item)">
      <a (click)="plus(item)"> <i class="fa fa-plus"></i></a>
    </td>
    <td class="align-middle">{{item.productInfo.productPrice * item.quantity|currency}}</td>
    <td class="align-middle">
      <a (click)="remove(item)" routerLink="/cart" >Remove</a>
    </td>

  </tr>

  </tbody>
</table>



<div *ngIf="items.length == 0">
  <h4 class="text-muted text-center">Cart is empty. Go to get something! :)</h4>
</div>
<div *ngIf="items.length != 0">
  <h5 style="display: inline;">Total: {{total | currency}}</h5>
  <form (ngSubmit)="checkout()" method="post">
    <button type="submit" class="btn btn-warning float-right">Checkout</button>
  </form>
</div>
