<h1 align="center" class="display-4 mb-5">Авторизация</h1>
<div style="width:40%; margin: 25px auto">

    <div class="alert alert-danger" *ngIf="isInvalid">
      Неверное имя пользователя и пароль.
    </div>
    <div class="alert alert-info" *ngIf="isLogout">
      Вы вышли из системы.
    </div>

    <form #form='ngForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control form-control-lg" id="email" name="email" placeholder="Введите адрес электронной почты"
                   required autofocus [(ngModel)]="model.username" #email="ngModel" autocomplete="email" >
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email обязателен
            </div>
        </div>

        <div class="form-group">
            <label>Пароль</label>
            <input type="password" class="form-control form-control-lg" id="password" name="password"  autocomplete="password"
                   placeholder="Введите пароль" required [(ngModel)]="model.password" #password='ngModel'>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Email обязателен
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="checkbox" id="remember_me" name="remember-me" [(ngModel)]="model.remembered">
                <label for="remember_me" class="inline">Запомнить</label>
                <a class="float-right" routerLink="/register">Зарегистрироваться</a>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="!form.form.valid" type="submit" class="violet-button btn btn-lg btn-primary btn-block">Войти</button>
        </div>
    </form>

  <strong>Sample Users</strong>
  <table style="width: 100%;" id="sampleLoginTable">
    <tr>
      <td><a
        (click)="fillLoginFields('customer1@email.com','123')"
        href="javascript:void(0)">customer1</a></td>
      <td><a
        (click)="fillLoginFields('employee1@email.com','123')"
        href="javascript:void(0)">employee1</a></td>
      <td><a
        (click)="fillLoginFields('manager1@email.com','123')"
        href="javascript:void(0)">manager1</a></td>
    </tr>
  </table>

</div>
