<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="root">
        <img src="/assets/brand.png" width="30" height="30" class="d-inline-block align-top" alt="">
        E-Shop
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <div class="navbar-nav" *ngIf="!currentUser || currentUser.role == Role.Customer">

            <a class="nav-item nav-link "
               routerLink="/category/0">
                Books
            </a>
            <a class="nav-item nav-link"
               routerLink="/category/1">
                Food
            </a>
            <a class="nav-item nav-link "
               routerLink="/category/2">
                Clothes
            </a>
            <a class="nav-item nav-link"
               routerLink="/category/3">
                Drink
            </a>

        </div>

        <div class="navbar-nav ml-auto">
            <a *ngIf="!currentUser || currentUser.role == Role.Customer"
                    class="nav-item nav-link " routerLink="/cart">
                <i class="fas fa-shopping-cart"></i>
                Cart
            </a>

            <ng-container *ngIf="currentUser; else noUser">
                <a class="nav-item nav-link " routerLink="/order">
                    <i class="fas fa-list-ul"></i>
                    Orders
                </a>
                <a class="nav-item nav-link " routerLink="/profile">
                    {{name}}
                </a>
                <a class="nav-item nav-link " (click)="logout()" routerLink="/login" [queryParams]="{logout: true}">
                    Sign Out
                </a>
            </ng-container>
            <ng-template #noUser>
                <a class="nav-item nav-link " routerLink="/login">
                    Sign In
                </a>
                <a class="nav-item nav-link " routerLink="/register">
                    Sign Up
                </a>
            </ng-template>
        </div>
    </div>
</nav>
